<section class='text-white p-4'>
  <section class='mt-8 mb-8'>
    <div class='flex items-center gap-3 text-3xl'>
      <i class='fa-solid fa-id-badge w-9 h-8'></i>
      <h1 class='font-bold'>About Me</h1>
    </div>
  </section>
  
  <section class='prose prose-base text-white mb-8 xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
    <p class='leading-relaxed'>
      Hello 👋, I'm Xavier Díaz but everyone calls me Xavi or Xuby. I started in the
      world of computing like many of us, through video games on my first PC. Currently I'm a <span
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        >Software Engineer
      </span> at imed, an important technology company in the healthcare sector.
    </p>
  </section>
  <section class='prose prose-base text-white mb-8 xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
    <p class='leading-relaxed'>
      Some of my professional achievements include the development of <span
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        >Reports Server
      </span>, a REST API server that allows generating dynamic reports in
      PDF format. It's very important in my career because I had to
      explore many new technologies for me like <span
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        >Python, Flask and Jinja2</span
      >.
    </p>
  </section>
  <section class='prose prose-base text-white mb-8 xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
    <p class='leading-relaxed'>
      I also have a side project creating VSCode extensions.
      During the development of Report Server, I realized I needed an
      extension that would allow me to visualize Jinja2 code in a more
      user-friendly way. And on the other hand, I needed a way to convert files
      to and from base64 quickly and locally. This is how <a
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        href='https://marketplace.visualstudio.com/items?itemName=Xubylele.jinja2-html-enhancer'
        target='_blank'
        rel='noopener noreferrer'
        >Jinja2 HTML Enhancer
      </a> and <a
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        href='https://marketplace.visualstudio.com/items?itemName=Xubylele.base64-converter'
        target='_blank'
        rel='noopener noreferrer'>Base64 Converter</a
      >
      were born. They currently have more than <span
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
      >
        1000 downloads</span
      > between both extensions and I plan to continue adding more features in
      the future.
    </p>
  </section>
  <section class='prose prose-base text-white mb-8 xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
    <p class='leading-relaxed'>
      In my free time I like to play video games, I'm a musician and learning
      music production. I'm a technology enthusiast and I like to stay
      up to date with the latest trends in the world of computing and do
      personal projects for the love of art.
    </p>
  </section>
</section>
