---
import Timeline from '../../ui/Timeline.astro';

const technologyLinks = {
  'JavaScript': 'https://developer.mozilla.org/en-US/docs/Web/JavaScript',
  'Node.js': 'https://nodejs.org/',
  'Express.js': 'https://expressjs.com/',
  'Oracle Database': 'https://www.oracle.com/database/',
  'Docker': 'https://www.docker.com/',
  'Git': 'https://git-scm.com/',
  'GitHub': 'https://github.com/',
  'MongoDB': 'https://www.mongodb.com/',
  'Azure': 'https://azure.microsoft.com/',
  'IoT': 'https://azure.microsoft.com/en-us/solutions/iot/',
  'Python': 'https://www.python.org/',
  'Flask': 'https://flask.palletsprojects.com/',
  'Jinja2': 'https://jinja.palletsprojects.com/',
  'PostgreSQL': 'https://www.postgresql.org/',
  'Typescript': 'https://www.typescriptlang.org/',
  'React': 'https://react.dev/',
  'Ant Design': 'https://ant.design/',
  'AWS': 'https://aws.amazon.com/',
  'Fastify': 'https://www.fastify.io/',
  'Tailwind CSS': 'https://tailwindcss.com/',
};

const experiences = [
  {
    title: 'ERP Integration Developer',
    description:
      'Development of integrations between ERP systems and third-party applications. Data migration between systems and development of data management applications.',
    company: 'Universidad Santa María',
    date: 'September 2021',
    technologies: [
      { name: 'JavaScript', color: '#f0db4f', textColor: 'black', url: technologyLinks['JavaScript'] },
      { name: 'Node.js', color: '#68a063', textColor: 'white', url: technologyLinks['Node.js'] },
      { name: 'Express.js', color: '#000000', textColor: 'white', url: technologyLinks['Express.js'] },
      { name: 'Oracle Database', color: '#f80000', textColor: 'white', url: technologyLinks['Oracle Database'] },
      { name: 'Docker', color: '#2496ed', textColor: 'white', url: technologyLinks['Docker'] },
      { name: 'Git', color: '#f05032', textColor: 'white', url: technologyLinks['Git'] },
      { name: 'GitHub', color: '#181717', textColor: 'white', url: technologyLinks['GitHub'] },
    ],
  },
  {
    title: 'Backend Development Engineer',
    description:
      'Development of backend applications and services with IoT device integration. Implementation of custom solutions for industries such as mining and retail. Configuration of continuous integrations and cloud function deployment.',
    company: 'Wisely',
    date: 'March 2022',
    technologies: [
      { name: 'MongoDB', color: '#47a248', textColor: 'white', url: technologyLinks['MongoDB'] },
      { name: 'Express.js', color: '#000000', textColor: 'white', url: technologyLinks['Express.js'] },
      { name: 'Node.js', color: '#68a063', textColor: 'white', url: technologyLinks['Node.js'] },
      { name: 'Azure', color: '#0089d6', textColor: 'white', url: technologyLinks['Azure'] },
      { name: 'Docker', color: '#2496ed', textColor: 'white', url: technologyLinks['Docker'] },
      { name: 'Git', color: '#f05032', textColor: 'white', url: technologyLinks['Git'] },
      { name: 'GitHub', color: '#181717', textColor: 'white', url: technologyLinks['GitHub'] },
      { name: 'IoT', color: '#38bdf8', textColor: 'black', url: technologyLinks['IoT'] },
    ],
  },
  {
    title: 'Fullstack Developer',
    description:
      'In-house software development for Centro Médico del Trabajador. Improving the efficiency of internal processes, patient care and generation of dynamic reports in PDF format, among other solutions.',
    company: 'CMT Salud',
    date: 'March 2023',
    technologies: [
      { name: 'Python', color: '#306998', textColor: 'white', url: technologyLinks['Python'] },
      { name: 'Flask', color: '#000000', textColor: 'white', url: technologyLinks['Flask'] },
      { name: 'Jinja2', color: '#f0db4f', textColor: 'black', url: technologyLinks['Jinja2'] },
      { name: 'PostgreSQL', color: '#336791', textColor: 'white', url: technologyLinks['PostgreSQL'] },
      { name: 'Docker', color: '#2496ed', textColor: 'white', url: technologyLinks['Docker'] },
      { name: 'Git', color: '#f05032', textColor: 'white', url: technologyLinks['Git'] },
      { name: 'GitHub', color: '#181717', textColor: 'white', url: technologyLinks['GitHub'] },
      { name: 'JavaScript', color: '#f0db4f', textColor: 'black', url: technologyLinks['JavaScript'] },
      { name: 'Typescript', color: '#007acc', textColor: 'white', url: technologyLinks['Typescript'] },
      { name: 'Node.js', color: '#68a063', textColor: 'white', url: technologyLinks['Node.js'] },
      { name: 'React', color: '#61dafb', textColor: 'black', url: technologyLinks['React'] },
      { name: 'Ant Design', color: '#0170fe', textColor: 'white', url: technologyLinks['Ant Design'] },
      { name: 'AWS', color: '#232f3e', textColor: 'white', url: technologyLinks['AWS'] },
    ],
  },
  {
    title: 'Software Engineer',
    description:
      'In-house software development for imed company. Implementation of solutions to optimize customer interaction with the management system, improving the efficiency of internal processes for both national and international clients.',
    company: 'imed',
    date: 'January 2025',
    current: true,
    technologies: [
      { name: 'JavaScript', color: '#f0db4f', textColor: 'black', url: technologyLinks['JavaScript'] },
      { name: 'Typescript', color: '#007acc', textColor: 'white', url: technologyLinks['Typescript'] },
      { name: 'Node.js', color: '#68a063', textColor: 'white', url: technologyLinks['Node.js'] },
      { name: 'Fastify', color: '#000000', textColor: 'white', url: technologyLinks['Fastify'] },
      { name: 'React', color: '#61dafb', textColor: 'black', url: technologyLinks['React'] },
      { name: 'Tailwind CSS', color: '#38bdf8', textColor: 'black', url: technologyLinks['Tailwind CSS'] },
      { name: 'PostgreSQL', color: '#336791', textColor: 'white', url: technologyLinks['PostgreSQL'] },
      { name: 'Docker', color: '#2496ed', textColor: 'white', url: technologyLinks['Docker'] },
      { name: 'Git', color: '#f05032', textColor: 'white', url: technologyLinks['Git'] },
      { name: 'GitHub', color: '#181717', textColor: 'white', url: technologyLinks['GitHub'] },
    ],
  },
];
---

<section class='text-white p-4'>
  <section class='mt-8 mb-8'>
    <div class='flex items-center gap-4 text-3xl'>
      <i class='fa-solid fa-briefcase w-9 h-8'></i>
      <h1 class='font-bold'>Experience</h1>
    </div>
  </section>

  <div class='max-w-5xl xl:mx-4 mx-auto'>
    <Timeline items={experiences} />
  </div>
</section>
