<section class='text-white p-4'>
  <section class='mt-8 mb-8'>
    <div class='flex items-center gap-3 text-3xl'>
      <i class='fa-solid fa-laptop w-9 h-8'></i>
      <h1 class='font-bold'>Freelance Services</h1>
    </div>
  </section>
  <section class='mb-8 space-y-6'>
    <p class='leading-relaxed xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
      I offer a variety of <span class='text-[#f6ea5d]/90 font-semibold'
        >freelance services</span
      > focused on <span class='text-[#f6ea5d]/90 font-semibold'
        >consulting and web development</span
      >. I work with companies, startups and entrepreneurs who want to improve their
      digital platforms or launch new products.
    </p>
    <p class='leading-relaxed xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
      My experience includes from <span class='text-[#f6ea5d]/90 font-semibold'
        >custom websites</span
      > to <span class='text-[#f6ea5d]/90 font-semibold'
        >fullstack applications</span
      >, including API integration, process automation, admin panels
      and dynamic report generation.
    </p>
    <p class='leading-relaxed xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
      If you have a project in mind or want to know how I can help you, <span
        class='text-[#f6ea5d]/90 font-semibold'>don't hesitate to write me</span
      >.
    </p>
    <p class='leading-relaxed xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
      I'm available for new challenges.
    </p>
    <a
      href='mailto:diazxavier27@gmail.com'
      class='inline-block mt-4 px-6 py-2 bg-[#f6ea5d] text-black font-semibold rounded-full hover:bg-[#e0d850] transition'
    >
      <i class='fa-solid fa-envelope'></i> Let's talk!
    </a>
  </section>
</section>
