<section class='text-white p-4'>
  <section class='mt-8 mb-8'>
    <div class='flex items-center gap-3 text-3xl'>
      <i class='fa-solid fa-id-badge w-9 h-8'></i>
      <h1 class='font-bold'>Sobre Mi</h1>
    </div>
  </section>
  <section class='mb-8 lg:text-md md:text-lg xl:w-3/5 lg:w-4/5 md:w-5/6'>
    <p class='leading-relaxed'>
      Hola 👋, soy Xavier Díaz pero todos me llaman Xavi o Xuby. Empecé en el
      mundo de la informática de igual que muchos de nosotros, a través de los
      videojuegos en mi primer pc. Actualmente soy <span
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        >desarrollador fullstack
      </span> en CMT Salud, una empresa de tecnología en el área de la salud.
    </p>
  </section>
  <section class='mb-8 lg:text-lg md:text-xl xl:w-3/5 lg:w-4/5 md:w-5/6'>
    <p class='leading-relaxed'>
      Algunos de mis éxitos profesionales incluyen el desarrollo de <span
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        >Reports Server
      </span>, un servidor rest api que permite generar reportes dinámicos en
      formato pdf. Es muy importante en mi carrera debido a que tuve que
      explorar muchas tecnologías nuevas para mi como <span
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        >Python, Flask y Jinja2</span
      >.
    </p>
  </section>
  <section class='mb-8 lg:text-lg md:text-xl xl:w-3/5 lg:w-4/5 md:w-5/6'>
    <p class='leading-relaxed'>
      También cuento con un side project de creación de extensiones para VSCode.
      Durante el desarrollo de Report Server, me di cuenta que necesitaba una
      extensión que me permitiera visualizar el código de Jinja2 de una forma
      más amigable. Y por otro lado, necesitaba una forma de convertir archivos
      desde y hacia base64 de forma rápida y local. Así nació <a
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        href='https://marketplace.visualstudio.com/items?itemName=Xubylele.jinja2-html-enhancer'
        target='_blank'
        rel='noopener noreferrer'
        >Jinja2 HTML Enhancer
      </a> y <a
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
        href='https://marketplace.visualstudio.com/items?itemName=Xubylele.base64-converter'
        target='_blank'
        rel='noopener noreferrer'>Base64 Converter</a
      >
      . Actualmente cuentan con más de <span
        class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
      >
        500 descargas</span
      > entre ambas extensiones y planeo seguir agregando más funcionalidades en
      el futuro.
    </p>
  </section>
  <section class='mb-8 lg:text-lg md:text-xl xl:w-3/5 lg:w-4/5 md:w-5/6'>
    <p class='leading-relaxed'>
      En mi tiempo libre me gusta jugar videojuegos, soy músico y aprendiz de
      producción musical. Soy aficionado de la tecnología y me gusta estar al
      tanto de las últimas tendencias en el mundo de la informática y realizar
      proyectos personales por amor al arte.
    </p>
  </section>
</section>
