---
import Timeline from '../ui/Timeline.astro';

const experiences = [
  {
    title: 'Fullstack Developer',
    description:
      'Desarrollado software in house para Centro Médico del Trabajador, Mejorando la eficiencia de los procesos internos, la atención a los pacientes y la entrega de información a los clientes de la empresa. Implementación de soluciones de software para la creación de reportajes dinámicos en formato PDF entre otros.',
    company: 'CMT Salud',
    date: '2023',
    current: true,
  },
  {
    title: 'Ingeniero de desarrollo backend',
    description:
      'Desarrollo de aplicaciones y servicios backend en integración a dispositivos OIT. Implementación soluciones únicas para diversos clientes de industrias como la minería, retail, entre otros. Implementación de integraciones continuas y despliegue de funciones en la nube.',
    company: 'Wisely',
    date: 'Marzo 2022',
  },
  {
    title: 'Desarrollador de integración ERP',
    description:
      'Desarrollo de integraciones entre sistemas ERP y aplicaciones de terceros. Migración de datos entre sistemas y desarrollo de aplicaciones de gestión de datos.',
    company: 'Universidad Santa María',
    date: 'Septiembre 2021',
  },
];
---

<section class='text-white p-4'>
  <section class='mt-8 mb-8'>
    <div class='flex items-center gap-4 text-3xl'>
      <i class='fa-solid fa-briefcase w-9 h-8'></i>
      <h1 class='font-bold'>Experiencia</h1>
    </div>
  </section>

  <div class='max-w-5xl xl:mx-4 mx-auto'>
    <Timeline items={experiences} />
  </div>
</section>
