---
import Timeline from '../ui/Timeline.astro';

const experiences = [
  {
    title: 'Fullstack Developer',
    company: 'CMT Salud',
    date: '2023',
    current: true,
  },
  {
    title: 'Ingeniero de desarrollo backend',
    company: 'Wisely',
    date: 'Marzo 2022',
  },
  {
    title: 'Desarrollador de integración ERP',
    company: 'Universidad Santa María',
    date: 'Septiembre 2021',
  },
];
---

<section class='text-white p-4 mt-16'>
  <section class='mt-8 mb-8'>
    <div class='flex items-center gap-4 text-3xl'>
      <i class='fa-solid fa-briefcase w-9 h-8'></i>
      <h1 class='font-bold'>Experiencia</h1>
    </div>
  </section>

  <div class='max-w-5xl xl:mx-4 mx-auto'>
    <Timeline items={experiences} />
  </div>
</section>
