<section class='text-white p-4'>
  <section class='mt-8 mb-8'>
    <div class='flex items-center gap-3 text-3xl'>
      <i class='fa-solid fa-laptop w-9 h-8'></i>
      <h1 class='font-bold'>Servicios Freelance</h1>
    </div>
  </section>
  <section class='mb-8 space-y-6'>
    <p class='leading-relaxed xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
      Ofrezco una variedad de <span class='text-[#f6ea5d]/90 font-semibold'
        >servicios freelance</span
      > centrados en <span class='text-[#f6ea5d]/90 font-semibold'
        >consultoría y desarrollo web</span
      >. Trabajo con empresas, startups y emprendedores que buscan mejorar sus
      plataformas digitales o lanzar productos nuevos.
    </p>
    <p class='leading-relaxed xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
      Mi experiencia incluye desde <span class='text-[#f6ea5d]/90 font-semibold'
        >sitios web personalizados</span
      > hasta <span class='text-[#f6ea5d]/90 font-semibold'
        >aplicaciones fullstack</span
      >, pasando por integración de APIs, automatización de procesos, paneles de
      administración y generación de reportes dinámicos.
    </p>
    <p class='leading-relaxed xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
      Si tienes un proyecto en mente o quieres saber cómo puedo ayudarte, <span
        class='text-[#f6ea5d]/90 font-semibold'>no dudes en escribirme</span
      >.
    </p>
    <p class='leading-relaxed xl:w-4/5 lg:w-4/5 md:w-5/6 text-lg md:text-xl'>
      Estoy disponible para nuevos desafíos.
    </p>
    <a
      href='mailto:diazxavier27@gmail.com'
      class='inline-block mt-4 px-6 py-2 bg-[#f6ea5d] text-black font-semibold rounded-full hover:bg-[#e0d850] transition'
    >
      <i class='fa-solid fa-envelope'></i> Hablemos!
    </a>
  </section>
</section>
