---
import Project from '../ui/Project.astro';

const projects = [
  {
    title: 'Reports Server - CMT Salud',
    description:
      'Es un servidor rest api que permite generar reportes dinámicos en formato pdf. Se puede personalizar el contenido del reporte a través del interprete Jinja2, permitiendo crear nuevos reportes dinámicos on demand.',
    technologies: [
      { name: 'Python', color: '#ffde57', textColor: 'black' },
      { name: 'Flask', color: '#f6ea5d', textColor: 'black' },
      { name: 'Jinja2', color: '#f6ea5d', textColor: 'black' },
      { name: 'HTML', color: '#e34c26', textColor: 'white' },
      { name: 'CSS', color: '#264de4', textColor: 'white' },
    ],
    image: 'https://i.imgur.com/o42zI2C.png',
  },
  {
    title: 'SAGE - CMT Salud',
    description:
      'Sistema de gestión interno de la empresa CMT Salud. Permite gestionar las reservas de los pacientes, la atención de los pacientes, la facturación y la gestión de los usuarios, entre otros.',
    technologies: [
      { name: 'Javascript', color: '#f0db4f', textColor: 'black' },
      { name: 'Typescript', color: '#007acc', textColor: 'white' },
      { name: 'Node.js', color: '#68a063', textColor: 'white' },
      { name: 'ExpressJS', color: '#000000', textColor: 'white' },
      { name: 'React', color: '#61dafb', textColor: 'black' },
      { name: 'Ant Design', color: '#0170fe', textColor: 'white' },
      { name: 'PostgreSQL', color: '#336791', textColor: 'white' },
    ],
    image: 'https://i.imgur.com/R0Dusbs.png',
  },
  {
    title: 'Jinja2 HTML Enhancer para VSCode',
    description:
      'Extensión para Visual Studio Code que permite mejorar la experiencia de desarrollo de plantillas HTML con Jinja2. Agrega soporte para resaltado de sintaxis y la validación visual de variables utilizadas.',
    url: 'https://github.com/xubylele/jinja2-html-enhancer',
    technologies: [
      { name: 'VSCode API', color: '#007acc', textColor: 'white' },
      { name: 'Typescript', color: '#007acc', textColor: 'white' },
      { name: 'Javascript', color: '#f0db4f', textColor: 'black' },
      { name: 'HTML', color: '#e34c26', textColor: 'white' },
      { name: 'CSS', color: '#264de4', textColor: 'white' },
    ],
    image: 'https://i.imgur.com/qk46DYx.png',
  },
  {
    title: 'Base64 converter para VSCode',
    description:
      'Extensión para Visual Studio Code que permite convertir texto a base64 y viceversa.',
    url: 'https://github.com/xubylele/base64-converter',
    technologies: [
      { name: 'VSCode API', color: '#007acc', textColor: 'white' },
      { name: 'Typescript', color: '#007acc', textColor: 'white' },
      { name: 'Javascript', color: '#f0db4f', textColor: 'black' },
      { name: 'HTML', color: '#e34c26', textColor: 'white' },
      { name: 'CSS', color: '#264de4', textColor: 'white' },
    ],
    image: 'https://i.imgur.com/VUnCxoU.png',
  },
];
---

<section class='text-white p-4'>
  <section class='mt-8 mb-8'>
    <div class='flex items-center gap-4 text-3xl'>
      <i class='fa-solid fa-code w-9 h-8'></i>
      <h1 class='font-bold'>Proyectos</h1>
    </div>
  </section>
  <section class='mb-8'>
    {projects.map((project) => <Project project={project} />)}
  </section>
</section>
