<section class='text-white p-4'>
	<div class='mb-8'>
		<div class='flex items-center gap-4'>
			<img
				src='/xuby.jpg'
				alt='Profile'
				class='w-24 h-24 md:w-20 md:h-20 rounded-full shadow-lg aspect-square object-cover'
			/>
			<a
				href='https://www.linkedin.com/in/xubylele/'
				target='_blank'
				rel='noopener noreferrer'
				class='inline-flex items-center justify-center gap-2 px-4 py-1 text-[#43d490] transition bg-[#43d490]/10 border border-[#43d490]/30 rounded-full text-md hover:bg-[#43d490]/20 hover:border-[#43d490]/50 group max-w-fit focus:outline-none focus-visible:ring focus-visible:ring-[#43d490]/30 focus-visible:ring-offset-2 transform hover:scale-105 duration-300 shadow-lg'
			>
				Disponible para trabajar
			</a>
		</div>
	</div>
	<div class='mb-8'>
		<h1 class='text-5xl md:text-6xl font-bold -ml-1'>
			Hola, soy <span class='text-[#f6ea5d]'>Xuby</span>
		</h1>
	</div>
	<div class='mb-8'>
		<div>
			<p
				class='leading-relaxed lg:text-lg md:text-xl xl:w-3/5 lg:w-4/5 md:w-5/6'
			>
				<span class='text-lg md:text-xl space-y-4 text-white-300/90'
					>+4 años de experiencia.
				</span>
				<span class='text-lg md:text-xl space-y-4 text-[#f6ea5d]/90'
					>Ingeniero de software y Fullstack Developer
				</span>
				<span class='text-lg md:text-xl space-y-4 text-white-300/90'
					>de Viña del Mar, Chile 🇨🇱.</span
				>
			</p>
			<p
				class='leading-relaxed lg:text-lg md:text-xl xl:w-3/5 lg:w-4/5 md:w-5/6'
			>
				<span class='text-lg md:text-xl space-y-4 text-white-300/90'
					>Experimentado en el desarrollo de aplicaciones web para cualquier
					tipo de negocio.
				</span>
			</p>
		</div>
	</div>
	<div class='mb-8'>
		<div class='flex gap-2'>
			<a
				href='mailto:diazxavier27@gmail.com'
				class='inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition bg-[#43d490]/60 border border-[#43d490]/90 rounded-full text-md hover:bg-[#43d490]/90 hover:border-[#43d490] group max-w-fit focus:outline-none focus-visible:ring focus-visible:ring-[#43d490]/30 focus-visible:ring-offset-2 shadow-lg'
			>
				<div class='flex items-center gap-2'>
					<i class='fa-regular fa-envelope w-4 h-4'></i>
					<span class='font-medium'>Email</span>
				</div>
			</a>
			<a
				href='https://www.linkedin.com/in/xubylele/'
				target='_blank'
				rel='noopener noreferrer'
				class='inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition bg-[#4390d4]/60 border border-[#4390d4]/90 rounded-full text-md hover:bg-[#4390d4]/90 hover:border-[#4390d4] group max-w-fit focus:outline-none focus-visible:ring focus-visible:ring-[#4390d4]/30 focus-visible:ring-offset-2 shadow-lg'
			>
				<div class='flex items-center gap-2'>
					<i class='fa-brands fa-linkedin w-4 h-4'></i>
					LinkedIn
				</div>
			</a>
			<a
				href='https://github.com/xubylele'
				target='_blank'
				rel='noopener noreferrer'
				class='inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition bg-[#24292e]/60 border border-[#24292e]/90 rounded-full text-md hover:bg-[#24292e]/90 hover:border-[#24292e] group max-w-fit focus:outline-none focus-visible:ring focus-visible:ring-[#24292e]/30 focus-visible:ring-offset-2 shadow-lg'
			>
				<div class='flex items-center gap-2'>
					<i class='fa-brands fa-github w-4 h-4'></i>
					GitHub
				</div>
			</a>
		</div>
	</div>
</section>
