---
import Layout from '../layouts/Layout.astro';
import Welcome from '../components/sections/Welcome.astro';
import Experiences from '../components/sections/Experiences.astro';
import Projects from '../components/sections/Projects.astro';
import AboutMe from '../components/sections/AboutMe.astro';
import '@fortawesome/fontawesome-free/css/solid.min.css';
import '@fortawesome/fontawesome-free/css/fontawesome.min.css';
import '@fortawesome/fontawesome-free/css/brands.min.css';
---

<Layout title='Mi Portfolio'>
  <div
    class='min-h-screen bg-gradient-to-b from-[#4b1e3d] to-[#0e050b] text-white p-4 lg:px-40 md:px-20 sm:px-10 xs:px-4'
  >
    <Welcome />
    <Experiences />
    <Projects />
    <AboutMe />
  </div>
</Layout>
