<section class='text-white p-4'>
  <section class='mb-8'>
    <div class='flex items-center gap-3 md:text-3xl'>
      <i class='fa-solid fa-code w-8 h-8 md:w-8 md:h-8'></i>
      <h1 class='font-bold'>Proyectos</h1>
    </div>
  </section>
</section>
