---
interface TimelineItem {
  title: string;
  company: string;
  date: string;
  current?: boolean;
}

interface Props {
  items: TimelineItem[];
}

const { items } = Astro.props;
---

<div class='relative'>
  <div class='absolute left-3 w-0.5 h-full bg-[#443b40] top-0'></div>

  <div class='relative ml-8'>
    {
      items.map((item) => (
        <div class='mb-16 relative'>
          <span class='absolute -left-7 top-[8px] h-4 w-4 rounded-full bg-[#f6ea5d] shadow-lg' />
          <div class='ml-8'>
            <h3 class='text-[#f6ea5d] text-xl font-semibold'>{item.title}</h3>
            <h4 class='text-lg text-white'>{item.company}</h4>
            <span class='text-gray-400'>
              {item.current ? 'Actualmente...' : item.date}
            </span>
          </div>
        </div>
      ))
    }
  </div>
</div>
