---
import '../styles/global.css';
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <meta
      name='description'
      content='Xuby es un desarrollador fullstack con +5 años de experiencia. Disponible para proyectos freelance y desarrollo de software a medida.'
    />
    <link rel='icon' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <link
      href='https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap'
      rel='stylesheet'
    />
    <title>Desarrollador Fullstack | Freelancer en Chile | Xavier Díaz</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  html,
  body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overscroll-behavior: none;
  }
</style>
